

html, body {
    margin: 0;
    padding: 0;
}

body{
    background-color: #99a1ac;
    font-family: "JetBrains Mono";
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/fonts/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
  }


/* Color palette */
/* #222831 */
/* #31363F */
/* #76ABAE */
/* #EEEEEE */